@font-face {
    font-family: 'mont_b';
    src: url('font/montserrat-bold-webfont.eot');
    src: url('font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-bold-webfont.woff2') format('woff2'),
         url('font/montserrat-bold-webfont.woff') format('woff'),
         url('font/montserrat-bold-webfont.ttf') format('truetype'),
         url('font/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mont_r';
    src: url('font/montserrat-regular-webfont.eot');
    src: url('font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-regular-webfont.woff2') format('woff2'),
         url('font/montserrat-regular-webfont.woff') format('woff'),
         url('font/montserrat-regular-webfont.ttf') format('truetype'),
         url('font/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: normal;
	outline: none;
}
button{
	border: none;
	background-color: transparent;
}
.hidden_menu{
	width: 0;
	margin-left: -400px;
	visibility: hidden;
	padding-top: 200%;
	background-color: rgba(207,218,229,0);
	position: absolute;
	overflow: hidden;
	transition: 1s;
}
.hidden_menu_open{
	width: 100%;
	z-index: 100;
	margin:0;
	visibility: visible;
	background-color: rgba(207,218,229,1);
}
.hidden_menu_cell{
	position: absolute;
	width: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	top: 0;
	right: 50%;
	margin-top: 20%;
	transform: translateX(50%);
}
.hidden_menu_cell p{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid red;
	padding: 0 50px 20px 20px;
	margin-bottom: 10px;
}
.hidden_menu_cell a{
	font-size: 3em;
	color: #43a9ff;
	text-decoration: none;
	transition: 0.5s;
}
.hidden_menu_cell a:hover{
	font-size: 5em;
	color: #026ac2;
}
.hidden_menu_cell .hidden_menu_search{
	z-index: 112;
	position: relative;
	right: 0;
	width: 250px;
	background-color: #fff;
	margin:0;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	margin-bottom: 20%;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10.25%;
	padding-right: 10.25%;
	background-color: #ccc;
}
.top_menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 100px;
	z-index: 111;
	transition: transform 2s cubic-bezier(0.010, 0.440, 0.42, 1.15);
}
.top_menu_open{
	transform: rotate(1485deg);
}
.top_menu_open .line_1{
	transform: translateY(8px) scale(2 ,1) translateY(-2px);
}
.top_menu_open .line_2{
	transform: rotate(90deg) scale(2,1) translateX(-1px);
}
.top_menu_open .line_3{
	display: none;
}
.top_menu:hover{
	cursor: pointer;
}
.top_menu_line{
	width: 18px;
	height: 2px;
	background-color: #000;
	transition: 2s;
}
.line_2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.logo{
	text-align: center;
	padding-top: 50px;
	width: 405px;
	height: 206px;
	background-color: #fff;
	border-radius:0 0 405px 405px;
	z-index: 111;
	position: relative;
}
.top_fixed{
	width: 100%;
	position: fixed;
	margin: 0 auto
	z-index:111;
}
.logo a{
	width: 100%;
	height: 100%;
	font-family: mont_r;
	font-size: 3em;
	text-transform: uppercase;
	text-decoration: none;
	color: #43a9ff;
}
.top_search_class{
	display: flex;
	position: relative;
}
.top_search_input{
	position: absolute;
	right: 100%;
	height: 60px;
	width: 0;
	border-radius: 100px 0 0 100px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: -30px;
	border: none;
	transition: 1s;
	z-index: 1;
}
.top_search_input_open{
	width: 250px;
	padding-right: 40px;
	padding-left: 20px;
}
.top_search{
	width: 60px;
	height: 60px;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 100px;
	background-color: #fff;
	z-index: 2;
	outline: none;
}
.top_search:hover{
	cursor: pointer;
}
.top_search_open{
	border-radius: 0 100px 100px 0;
	border-left: none;
}
.first_paragraph{
	font-size: 3em;
	padding-top: 8.2%;
	text-align: center;
	font-family: mont_r;
	letter-spacing: 0.01em;
}
.first_block{
	width: 100%;
	padding-top: 61%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.rounded_page_button{
	font-size: 0.875em;
	font-family: mont_b;
	color: #43a9ff;
	letter-spacing: 0.01em;
	border: 1px solid black;
	border-radius: 100px;
	text-decoration: none;
	text-transform: uppercase;
	padding:19px 41px;
}
.first_block_link_button{
	position: absolute;
	top: 0;
	margin-top: 6%;
	left: 50%;
	transform: translateX(-50%);
	
}
.second_block_title{
	font-family: mont_r;
	font-size: 3em;
	letter-spacing: 0.01em;
	text-align: center;
	margin-bottom: 95px;
}
.second_block_lathing{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}
.second_block_cell{
	width: 17.25%;
	height: 280px;
	margin-right: 10px;
	margin-left: 10px;
	min-width: 245px;
}
.second_block_cell_title{
	font-size: 1.125em;
	font-family: mont_r;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 35px;
}
.second_block_svg svg{
	width: 100%;
	height: 100%;
	fill:currentColor;
}
.second_block_svg{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #43a9ff;
	margin: 0 auto;
	margin-bottom: 32px;
}
.second_block_cell_description{
	font-family: mont_r;
	color:rgba(75,88,99,0.35);
	font-size: 0.875em;
	margin: 0 auto;
	text-align: center;
	width: 230px;
	line-height: 1.7em;
	width: 58%;
}
.second_block_rounded_button{
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 51px;
}
.third_block{
	display: flex;
	flex-wrap: wrap;
	padding-top: 130px;
}
.third_block_cell{
	width: 50%;
	padding-top: 28.1%;
	background-color: #f7f8fb;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	min-width: 495px;

}
.third_block_cell_text, .forth_block_cell_text{
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translateX(50%) translateY(50%);
}
.third_block_cell_title,.forth_block_cell_title{
	font-family: mont_r;
	font-size: 3em;
	margin-bottom: 36px;
}
.third_block_cell_description,.forth_block_cell_description,.fifth_block_cell_description{
	font-family: mont_r;
	line-height: 2.25em;
	color:rgba(75,88,99,0.35);
}
.forth_block{
	display: flex;
	flex-wrap: wrap;
}
.forth_block_cell{
	width: 50%;
	padding-top: 42%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.forth_block_cell_title{
	color: #43a9ff;
}
.fifth_block{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #f7f8fb;
	justify-content: center;

}
.fifth_block_cell{
	width: 36%;
	padding-top: 31.25%;
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
}
.fifth_block_cell_img{
	width: 60.41%;
	padding-top: 76.38%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
}
.fifth_block_cell:first-child{
	margin-right: 35px;
}
.fifth_block_cell_text{
	position: absolute;
	width: 77.38%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	bottom: 50%;
}
.fifth_block_cell_title{
	font-family: mont_r;
	font-size: 3em;
	color: #fe3254;
	margin-bottom: 40px;
}
.fifth_block_cell_description_person_name{
	font-family: mont_r;
	margin-top: 70px;
	margin-bottom: 5px;
}
.fifth_block_cell_description_person_rank{
	font-family: mont_r;
	color:rgba(75,88,99,0.35);
}
.sixth_block{
	font-family: mont_r;
	margin: 0 auto;
	text-align: center;
	margin-top: 135px;
}
.sixth_block_title_annex{
	color: rgba(75,88,99,0.35);
}
.sixth_block_title{
	font-size: 3em;
}
.seventh_block{
	width: 100%;
	padding-top: 65.5%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.seventh_block_rounded_button{
	position: absolute;
	right: 50%;
	margin-top: 4.75%;
	top: 0;
	transform: translateX(50%);
}
	@media all and (max-width: 1300px){
		*{
			font-size: 12px;

		}
		.hidden_menu_cell{
			margin-top: 32%;
		}
		.first_paragraph,.second_block_title,.third_block_cell_title,.forth_block_cell_title,.fifth_block_cell_title,.sixth_block_title{
			font-size: 2em;
		}
		.third_block_cell{
			width: 100%;
			padding-top: 56.2%;
		}
		.third_block_cell:nth-of-type(1){
			order:2;
		}
		.third_block_cell:nth-of-type(2){
			order:1;
		}
		.third_block_cell:nth-of-type(3){
			order:3;
		}
		.third_block_cell:nth-of-type(4){
			order:4;
		}
		.forth_block_cell{
			width: 100%;
			padding-top: 84%;
		}
		.fifth_block_cell{
			width: 72%;
			padding-top: 62.5%;
			margin: 0 auto;
		}
				
	}
	@media all and (max-width: 1200px){
		.top_search_class{
			display: none;
		}
	}		
	@media all and (max-width: 650px){
		.logo{
			width: 290px;
			height: 140px;
		}
	}